UnModified_OpenSource/Bootloader_20XX_Pristine-src/u-boot-2019.04.tar.bz2 filter=lfs diff=lfs merge=lfs -text
UnModified_OpenSource/Kernel_5_Pristine-src/linux-5.4.11.tar.bz2 filter=lfs diff=lfs merge=lfs -text
